{% extends "base.html" %} 
{% block content_title %} Welcome to the Home Page {%endblock %} 
{% block content %}
<ul class="list-group">
  <form method="post" class="form-inline my-2 my-lg-0">
    <input
      class="form-control mr-sm-2"
      type="text"
      name="search_query"
      placeholder="Search"
      value="{{ search_query }}"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>
</ul>
<!-- Add a container for the bar chart -->
<div id="bar-chart" style="width: 900px; height: 600px"></div>

<script>
  // Retrieve the JSON data for the bar chart
  var barChartData = {{ graphJSON1|safe }};

  // Plot the bar chart using Plotly.js
  Plotly.newPlot('bar-chart', barChartData);
</script>
{% endblock %}
