{% extends "base.html" %}  {% block content %}
 
<ul class="list-group">
  <div >
    <div><img src="{{ url_for('static', filename='banner5.jpg')}}" alt="Background Pic" style="width:100%; height=100vh; "/></div>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; z-index: 1; font-family: 'Abril Fatface', serif;
    , serif; text-align:center; font-size:40px"><p style="font-size:60px">Youtube AlgoAnalyzer</p> <p >Renewable & Sustainable Future:</p> <p> Beyond the Videos</p></div>
  </div>

  <h1 style="text-align:center;margin-top:20px">Trending Topics</h1>

  <div style="width:100%; text-align:center; display: flex;  justify-content: center;">
    <form method="post" class="form-inline my-2 my-lg-0" >
      <input
        class="form-control mr-sm-2 my-4 "
        style="width: 500px;"
        type="text"
        name="search_query"
        placeholder="Search"
        value="{{ search_query }}"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</ul>

<div style="display: flex; flex-wrap: wrap; width: 90vw; flex-direction:column; align-items: center">
  <div id="views-chart"></div>
  <div id="likes-chart"  ></div>
  <div id="comments-chart"  ></div>
</div>

<section class="hero-area bg-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-6 my-auto">
        <h1 class="text-primary font-tertiary">Image text </h1>
      </div>
      <div class="col-6 mobile-img" >
         <div id="views-chart"></div>
      </div>

    </div>
  </div>

</section>

<script>
  // Retrieve the JSON data for the bar chart
  var plot_data1 = {{ graphJSON1|safe }};
  var layout = { title: 'Avg Views Per topic', autosize: false, width: 600, height: 400,xaxis: {
    automargin: true
},
yaxis: {
    automargin: true
} };
    Plotly.newPlot('views-chart', plot_data1, layout);

  var plot_data2 = {{ graphJSON2|safe }};
  var layout = { title: 'Avg Likes Per topic', autosize: false, width: 600, height: 400,xaxis: {
    automargin: true
},
yaxis: {
    automargin: true
} };
    Plotly.newPlot('likes-chart', plot_data2, layout);

  var plot_data3 = {{ graphJSON3|safe }};
  var layout = { title: 'Avg Comments Per topic', autosize: false, width: 600, height: 400,xaxis: {
    automargin: true
},
yaxis: {
    automargin: true
} };
    Plotly.newPlot('comments-chart', plot_data3, layout);

  // Plot the bar chart using Plotly.js
  Plotly.newPlot('bar-chart', barChartData);
</script>
{% endblock %}
