{% extends "base.html" %}

<div class="success">
    {% block content %}
    <h2 class="text-center mt-4">Popular Tags for "{{search_query}}"</h2>
    <div id="topic-chart" style="display: flex;justify-content: center;" class="text-center"></div>
    <div id="clickthru-chart" style="display: flex;justify-content: center;"  class="text-center"></div>
    <div id="like-chart" class="text-center"></div>
    <ul class="list-group" style="margin-top:80px">
        
        <div class="container" style="display: flex; flex-wrap: wrap; ">
<h1 class="text-center mt-4 success">Top Videos on "{{search_query}}"</h1>

            {% for video in (videos) %}
        <div class="card" style="width: 70rem; margin: 30px; display:flex; flex-direction:row">
            <div>
            <img class="card_img" src="{{ video['img'] }}" style="height:100%, aspect-ratio: 4 / 3;" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ video['title'] }}</h5>
              <p class="card-text">{{ video['desc'] }}</p>
              <span>Views: {{ video['views'] }}</span>
              <span>Likes: {{ video['likes'] }}</span>
              <span>Comments: {{ video['comments'] }}</span>
              <a href="{{ url_for('video', video_id=video['id'], topic_id=topic_id) }}" class="btn btn-primary float-right">Details</a>
            </div>
          </div>
        {% endfor %}
        </div>
    </ul>
</div>

<script>
    var plot_data1 = {{ graphJSON1 | safe }};
    var layout = { title: 'Topic Distribution', autosize: false, width: 900, height: 600 };
    Plotly.newPlot('topic-chart', plot_data1, layout);

    var plot_data2 = {{ graphJSON2 | safe }};
    var layout = { title: 'Trending Topic Analysis', autosize: false, width: 900, height: 600,xaxis: {
            automargin: true
        },
        yaxis: {
            automargin: true
        } };
    Plotly.newPlot('clickthru-chart', plot_data2, layout);
</script>
{% endblock %}
    