{% extends "base.html" %}

<div class="success">
    {% block content_title %}
    <p class="text-center mt-4 success">YouTube Video List</p>
    {% endblock %}

    {% block content %}
    <ul class="list-group">
        <form method="post" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" name="search_query" placeholder="Search"
                value="{{ search_query }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="container" style="display: flex; flex-wrap: wrap; ">
            {% for video in (videos) %}
        <!-- <li class="list-group-item">
            <h5>{{ video['title'] }}</h5>
            <p>{{ video['desc'] }}</p>
            
            <a href="{{ url_for('video', video_id=video['id']) }}" class="btn btn-primary float-right">Details</a>
        </li> -->
        <div class="card" style="width: 18rem; margin: 30px;">
            <img class="card-img-top" src="{{ video['img'] }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ video['title'] }}</h5>
              <p class="card-text">{{ video['desc'] }}</p>
              <span>Views: {{ video['views'] }}</span>
              <span>Likes: {{ video['likes'] }}</span>
              <span>Comments: {{ video['comments'] }}</span>
              <a href="{{ url_for('video', video_id=video['id']) }}" class="btn btn-primary float-right">Details</a>
            </div>
          </div>
        {% endfor %}
        </div>
    </ul>
</div>

<h2 class="text-center mt-4">We Analyze Topics Over 100 vids...</h2>
<div id="topic-chart" style="display: flex;justify-content: center;" class="text-center"></div>
<div id="clickthru-chart" style="display: flex;justify-content: center;"  class="text-center"></div>
<div id="like-chart" class="text-center"></div>
<script>
    var plot_data1 = {{ graphJSON1 | safe }};
    var layout = { title: 'Topic Distribution', autosize: false, width: 600, height: 400 };
    Plotly.newPlot('topic-chart', plot_data1, layout);

    var plot_data2 = {{ graphJSON2 | safe }};
    var layout = { title: 'Click Rate Per Video', autosize: false, width: 800, height: 400,xaxis: {
            automargin: true
        },
        yaxis: {
            automargin: true
        } };
    Plotly.newPlot('clickthru-chart', plot_data2, layout);
</script>
{% endblock %}
    