{% extends "base.html" %} {% block content_title %} Enter a URL for Analytics
{%endblock %} {% block content %}
<ul class="list-group">
  <div style="width:100%; text-align:center; display: flex;  justify-content: center;margin-bottom:50px">
    <form method="post" class="form-inline my-2 my-lg-0" >
      <input
        class="form-control mr-sm-2 my-4 "
        style="width: 500px;"
        type="text"
        name="search_query"
        placeholder="Search"
        value="{{ search_query }}"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</ul>
<div>
  {% if stats is not none %}
  <div><h1 style="text-align:center;margin-top:50px; margin-bottom:30px; font-size:50px; font-family: 'Roboto Slab', serif; padding:10px; ">Currents Statistics</h1></div>
  <div><span>Views : {{ stats['statistics'].get('viewCount', 'N/A') }}</span>
    <span>Likes : {{ stats['statistics'].get('likeCount', 'N/A') }}</span>
  </div>
  <div><span>
    Comments : {{ stats['statistics'].get('commentCount', 'N/A') }}
  </span>
  <span>Favorites: {{ stats['statistics'].get('favoriteCount', 'N/A') }}</span></div>
  {% else %}
  <h2 style="padding:20px">No statistics available</h2>
  {% endif %}
</div>
<div class="seven"><h1 style="text-align:center;margin-top:50px; margin-bottom:30px; font-size:32px; font-family: 'Roboto Slab', serif; padding:10px; ">People Who have Commented on your Video have also watched:</h1></div>
<div>
  <div>
    {% if res is not none %} 
    {% for channel, videos in res.items() %}
    <ul>
      {% for video in videos %} {% if video.get('title') and
      video.get('channel') %}
      <div class="card">
        <div class="card-body">
          Title: {{ video['title'] }}
        </div>
      </div>
      {% endif %} {% endfor %}
    </ul>
    {% endfor %} 
    {% else %}
    <p style="padding:20px">No data available</p>
    {% endif %}
    
  </div>
</div>
<h2 style="text-align: center;">We Analyze Topics of Videos</h2>
<div style="display: flex; justify-content: center;" id="topics-chart"></div>


<script>
  var plot_data1 = {{ graphJSON1 | safe }};
  
  var layout = { autosize: false, width: 600, height: 400,xaxis: {
            automargin: true
        },
        yaxis: {
            automargin: true
        } };
  Plotly.newPlot('topics-chart', plot_data1, layout);

</script>
{% endblock %}
