{% extends "base.html" %}

{% block content_title %}{{ title }}{% endblock %}

{% block content %}

<h2 style="text-align: center;">We Analyze Sentiments of Comments</h2>
<div style="display: flex; justify-content: center;" id="sentiment-chart"></div>
<h2 style="text-align: center;">We Analyze Topics In the Comments</h2>
<div id="topic-chart" style="display: flex; justify-content: center;">
     <p><h2>Word Cloud</h2></p> 
    <img src="{{url_for('static', filename='wordcloud.png' )}}" alt="Word Cloud">
</div>




<script>
    var plot_data1 = {{ graphJSON1 | safe }};
    
    var layout = { autosize: false, width: 600, height: 400 };
    Plotly.newPlot('sentiment-chart', plot_data1, layout);

</script>
{% endblock %}